<div class="preguntados-container">
    <div *ngIf="nombreCategoria && imagenCategoria" class="categoria-info">
        <img [src]="imagenCategoria" alt="Imagen de {{ nombreCategoria }}" class="categoria-imagen" />
        <h2 class="categoria">{{ nombreCategoria }}</h2>
    </div>

    <h2 class="pregunta">{{ preguntaActual?.question }}</h2>

    <div class="respuestas-container">
        <button *ngFor="let respuesta of respuestas" class="respuesta-btn" (click)="verificarRespuesta(respuesta)">
            {{ respuesta }}
        </button>
    </div>

    <p class="puntos">Puntaje: {{ puntaje }}</p>
    <p class="mensaje">{{ mensaje }}</p>

    <div class="ranking-container">
        <h3>TOP 5:</h3>
        <ul>
            <li *ngFor="let jugador of mejoresJugadores">
                {{ jugador.nombre }} - {{ jugador.puntaje }} puntos
            </li>
        </ul>
    </div>
</div>