<div class="home-container">
    <div class="icon">
        <img src="assets/images/PreguntadosGame.jpg" alt="Icono 1" />
        <label>Preguntados</label>
    </div>
    <div class="icon">
        <img src="assets/images/Ahorcado.png" alt="Icono 2" />
        <label>Ahorcado</label>
    </div>
    <div class="icon">
        <img src="assets/images/MayorMenor.png" alt="Icono 3" />
        <label>Mayor o Menor</label>
    </div>
    <div class="icon">
        <img src="assets/images/WordGame.png" alt="Icono 4" />
        <label>Juego de Letras</label>
    </div>
</div>