<div class="about">
    <h2>¿Quién Soy?</h2>
    
    <div class="datos-personales">
        <div class="imagen-alumno">
            <div class="imagen-cuadrada">
                <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/Matias.jpg?alt=media&token=e1a98f33-30c0-447c-89e0-cd04d6d9fe92" alt="Imagen del Alumno" class="alumno-img">
            </div>
        </div>
        <div class="texto-alumno">
            <h3><span class="titulo-centro">Datos Personales</span></h3>
            <p>Nombre: Matias Bartel</p>
            <p>Edad: 19</p>
            <p>Email: <span>matiasbartelavgmail.com</span></p>
            <p>Descripción: Soy Estudiante de la TUP en la UTN.</p>
        </div>
    </div>
    
    <div class="explicacion-juego">
        <h3>Explicación del Juego Propio</h3>
        <p>Word Game - Será un juego donde el participante verá una palabra desordenada y debe reorganizar las letras para formar la palabra correcta, tendrá un tiempo límite; si no logra reorganizar las letras, pierde una vida.</p>
        <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/WordGameExp.png?alt=media&token=f0e55f52-557b-4c2b-9b31-91d6c34bff09" alt="Imagen del Juego" class="juego-img">
    </div>
</div>