<div class="about">
    <h2>¿Quién Soy?</h2>
    
    <div class="datos-personales">
        <div class="imagen-alumno">
            <div class="imagen-cuadrada">
                <img src="assets/images/Matias.jpg" alt="Imagen del Alumno" class="alumno-img">
            </div>
        </div>
        <div class="texto-alumno">
            <h3><span class="titulo-centro">Datos Personales</span></h3>
            <p>Nombre: Matias Bartel</p>
            <p>Edad: 19</p>
            <p>Email: <span>matiasbartelavgmail.com</span></p>
            <p>Descripción: Soy Estudiante de la TUP en la UTN.</p>
        </div>
    </div>
    
    <div class="explicacion-juego">
        <h3>Explicación del Juego Propio</h3>
        <p>Word Game - Será un juego donde el participante verá una palabra desordenada y debe reorganizar las letras para formar la palabra correcta, tendrá un tiempo límite; si no logra reorganizar las letras, pierde una vida.</p>
        <img src="assets/images/WordGameExp.png" alt="Imagen del Juego" class="juego-img">
    </div>
</div>