<div class="ahorcado-container">
  <h2>JUEGO DEL AHORCADO</h2>
  
  <div class="contenido-flex">
    <!-- Sección del Juego -->
    <div class="juego">
      <div>
        <h4>Adivina la palabra:</h4>
        <p class="palabra">{{ obtenerPalabraConGuiones() }}</p>
      </div>
      
      <div class="letras">
        <h4>Selecciona una letra:</h4>
        <div class="letras-grid">
          <button *ngFor="let letra of 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')" (click)="seleccionarLetra(letra)">
            {{ letra }}
          </button>
        </div>
      </div>
      
      <div *ngIf="letrasSeleccionadas.length > 0" class="letras-seleccionadas">
        <h4>Letras seleccionadas:</h4>
        <p>{{ letrasSeleccionadas.join(', ') }}</p>
      </div>
      
      <div *ngIf="juegoTerminado" class="mensaje-final">
        <p>{{ mensajeResultado }}</p>
        <button (click)="getRandomWord()" class="btn-reintentar">VOLVER A JUGAR</button>
      </div>
      
      <div class="intentos">
        <h4>Intentos restantes: {{ intentosRestantes }}</h4>
      </div>

      <!-- Sección de puntos -->
      <div class="puntos">
        <h4>Puntos: {{ puntos }}</h4>
      </div>

      <!-- Imágenes del ahorcado -->
      <div class="image-container">
        <img *ngIf="intentosRestantes === 6" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/cuerda.png?alt=media&token=a0596d0d-48de-4d9e-985d-87247c2d75b2" alt="Cuerda">
        <img *ngIf="intentosRestantes === 5" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/cabeza.png?alt=media&token=281c80bd-b62e-499a-8310-00ed663f2de9" alt="Cabeza">
        <img *ngIf="intentosRestantes === 4" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/torso.png?alt=media&token=006bbae4-968f-43b5-a025-615093cdb726" alt="Torso">
        <img *ngIf="intentosRestantes === 3" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/brazo1.png?alt=media&token=80b92b68-258e-4304-8c66-2b17adb75ace" alt="Brazo Izquierdo">
        <img *ngIf="intentosRestantes === 2" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/brazo2.png?alt=media&token=7ff5730d-f173-4783-84fe-246986604381" alt="Brazo Derecho">
        <img *ngIf="intentosRestantes === 1" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/pierna1.png?alt=media&token=1a8bcd76-e339-47cd-9e54-cb29fa68844d" alt="Pierna Izquierda">
        <img *ngIf="intentosRestantes === 0" src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/cuerpo.png?alt=media&token=d2e4a842-19c7-4d3e-b6a6-003c0a3e1377" alt="Cuerpo Entero">
      </div>
    </div>

    <!-- Sección de Ranking -->
    <div class="ranking-container">
      <h3>TOP 5:</h3>
      <ul>
        <li *ngFor="let jugador of mejoresJugadores">
          {{ jugador.nombre }} - {{ jugador.puntos }} puntos
        </li>
      </ul>
    </div>
  </div>
</div>