<form (ngSubmit)="onSubmit()" #registroForm="ngForm">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <div class="titulo">
        ¡REGISTRATE AHORA!
    </div>

    <div class="input-container">
        <img src="assets/images/nombre.png" alt="Nombre" class="input-icon">
        <input id="nombre" [(ngModel)]="nombre" name="nombre" required type="text" placeholder="Nombre">
    </div>

    <div class="input-container">
        <img src="assets/images/mail.png" alt="Mail" class="input-icon">
        <input id="correo" [(ngModel)]="correo" name="correo" required type="email" placeholder="Correo">
    </div>

    <div class="input-container">
        <img src="assets/images/UsuarioTP.png" alt="Usuario" class="input-icon">
        <input id="username" [(ngModel)]="username" name="username" required type="text" placeholder="Usuario">
    </div>

    <div class="input-container">
        <img src="assets/images/Candadito.png" alt="Candado" class="input-icon">
        <input id="password" [(ngModel)]="password" name="password" required type="password" placeholder="Contraseña">
    </div>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <button type="submit">Registrarse</button>
</form>