<form (ngSubmit)="onSubmit()" #registroForm="ngForm">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <div class="titulo">
        ¡REGISTRATE AHORA!
    </div>

    <div class="input-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/nombre.png?alt=media&token=3d928dd8-ea4a-4ad8-ba89-33ff5b85252d" alt="Nombre" class="input-icon">
        <input id="nombre" [(ngModel)]="nombre" name="nombre" required type="text" placeholder="Nombre">
    </div>

    <div class="input-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/mail.png?alt=media&token=0327ea44-8376-43b1-9163-fe0fe01b5075" alt="Mail" class="input-icon">
        <input id="correo" [(ngModel)]="correo" name="correo" required type="email" placeholder="Correo">
    </div>

    <div class="input-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/UsuarioTP.png?alt=media&token=f606b71b-33eb-434c-8370-4e20b3279a31" alt="Usuario" class="input-icon">
        <input id="username" [(ngModel)]="username" name="username" required type="text" placeholder="Usuario">
    </div>

    <div class="input-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/salajuegos-bartel.appspot.com/o/Candadito.png?alt=media&token=9a332aa8-7242-4b21-a586-f4dc7d69c85a" alt="Candado" class="input-icon">
        <input id="password" [(ngModel)]="password" name="password" required type="password" placeholder="Contraseña">
    </div>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <button type="submit">Registrarse</button>
</form>