<form (ngSubmit)="onSubmit()" #loginForm="ngForm"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <div class="titulo">
    ¡COMENZÁ A JUGAR!
  </div>

  <div class="input-container">
    <img src="assets/images/UsuarioTP.png" alt="Usuario" class="input-icon"> 
    <input id="username" [(ngModel)]="username" name="username" required type="text" placeholder="Correo">
  </div>

  <div class="input-container">
    <img src="assets/images/Candadito.png" alt="Candado" class="input-icon">
    <input id="password" [(ngModel)]="password" name="password" required type="password" placeholder="Contraseña">
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button type="submit">Iniciar sesión</button>
  <button type="button" (click)="fillFields()" alt="Rellenar" class="rellenar-campos">Rellenar Campos</button>
</form>